@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import 'variables.css';
@import 'buttons.css';

* { box-sizing: border-box; }

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font: 400 normal 18px 'Rubik', sans-serif;
    background-color: var(--dark-gray);
}

header {
    width: 100%;
}

nav {
    box-shadow: 0 0 10px var(--black);
    background-color: var(--dark-blue);
    padding: 10px;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 8px 16px;
}

nav .logout {
    background-color: var(--light-red);
    border-radius: 10px;
    float: right;
}

main {
    padding: 10px;
}

.title {
    color: var(--white);
    text-align: center;
    margin: 0;
}

.subtitle {
    margin: 25px 0 10px 0;
    color: var(--white);
    text-align: center;
}

.options-wrapper {
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
    display: flex;
}

.options-wrapper a {
    font-size: 25px;
}

.default-form {
    width: 100%;
}

.default-form .input-wrapper {
    margin: 0 0 10px 0;
}

.default-form label {
    color: var(--white);
    margin: 0 0 5px 0;
    display: block;
}

.default-form label .required {
    color: var(--dark-red);
}

.default-form input,
.default-form textarea {
    font: 400 normal 18px 'Rubik', sans-serif;
    border-radius: 10px;
    outline: none;
    padding: 8px;
    border: none;
    width: 100%;
}

.default-form input:disabled {
    background-color: var(--gray);
    color: var(--black);
}

.default-table {
    border-collapse: collapse;
    margin: 25px 0 0 0;
    width: 100%;
}

.default-table td {
    border-bottom: 1px solid var(--gray);
    color: var(--white);
    text-align: center;
    padding: 10px;
}

.default-table .icon i {
    font-size: 50px;
}

.default-table tr:last-child td {
    border: none;
}

.history {
    color: var(--white);
    text-align: center;
}

.trumbowyg-box,
.trumbowyg-editor {
    background-color: var(--white);
    font: 400 normal 18px 'Rubik', sans-serif;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
    height: 200px;
}

.image {
    box-shadow: 0 0 10px var(--black);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 0 0 25px 0;
    height: 200px;
    width: 100%;
}

.ingredients,
.description {
    color: var(--white);
}