@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.btn {
  font: 400 normal 18px "Rubik", sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn-blue {
  transition: background-color 0.3s ease-in-out;
  background-color: #93BFCF;
}

.btn-red {
  transition: background-color 0.3s ease-in-out;
  background-color: #FF9F9F;
}

.btn-icon-update {
  color: #C3EDC0;
}

.btn-icon-delete {
  color: #FF9F9F;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font: 400 normal 18px "Rubik", sans-serif;
  background-color: #333333;
  color: #FFFFFF;
}

header {
  width: 100%;
}
header nav {
  background-color: #6096B4;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  width: 100%;
}
header nav a {
  display: inline-block;
  padding: 8px 16px;
}
header nav .logout {
  background-color: #FF9F9F;
  border-radius: 10px;
  float: right;
}

main {
  padding: 10px;
}
main .title {
  margin: 0 0 10px 0;
  text-align: center;
}
main .subtitle {
  margin: 0 0 10px 0;
}
main #search-container {
  margin: 10px 0 0 0;
  width: 100%;
}
main #search-container #search-form {
  display: flex;
  gap: 10px;
}
main #search-container #search-form input {
  font: 400 normal 18px "Rubik", sans-serif;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  border: none;
  flex: 1;
}
main .image {
  box-shadow: 0 0 10px #000000;
  background-position: center;
  justify-content: flex-start;
  background-size: cover;
  align-items: flex-end;
  border-radius: 10px;
  margin: 0 0 25px 0;
  height: 200px;
  display: flex;
  width: 100%;
}
main .image .recipe-title {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(5px);
  text-shadow: 0 0 10px #FFFFFF;
  color: #000000;
  padding: 5px;
  width: 100%;
  margin: 0;
}
main .action-container {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin: 0 0 10px 0;
}
main .recipes-container {
  margin: 10px 0 0 0;
}
main .default-table {
  border-collapse: collapse;
  margin: 10px 0 0 0;
  width: 100%;
}
main .default-table tr:last-child td {
  border: none;
}
main .default-table tr td {
  border-bottom: 1px solid #C0C0C0;
  padding: 10px;
}
main .default-table tr .icon {
  font-size: 50px;
}
main .default-form {
  width: 100%;
}
main .default-form .input-wrapper {
  margin: 0 0 10px 0;
}
main .default-form .input-wrapper label {
  margin: 0 0 5px 0;
  display: block;
}
main .default-form .input-wrapper label .required {
  color: #E97777;
}
main .default-form .input-wrapper input {
  font: 400 normal 18px "Rubik", sans-serif;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
}

.trumbowyg-box,
.trumbowyg-editor {
  font: 400 normal 18px "Rubik", sans-serif;
  background-color: #FFFFFF;
  word-wrap: break-word;
  white-space: normal;
  overflow-y: auto;
  height: 200px;
  color: #000000;
}

/*# sourceMappingURL=application.css.map */
