@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import 'variables';

.btn {
  font: 400 normal 18px 'Rubik', sans-serif;
  text-decoration: none;
  display: inline-block;
  color: $black;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn-blue {
  transition: background-color .3s ease-in-out;
  background-color: $light-blue;
}

.btn-red {
  transition: background-color .3s ease-in-out;
  background-color: $light-red;
}

.btn-icon-update {
  color: $light-green;
}

.btn-icon-delete {
  color: $light-red;
}