@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import 'variables';
@import 'buttons';

* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font: 400 normal 18px 'Rubik', sans-serif;
  background-color: $dark-gray;
  color: $white;
}

#login-container {
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 10px;
  width: 100%;
  left: 50%;
  top: 50%;

  .title {
    text-align: center;
    color: $light-blue;

    .dark-blue {
      color: $dark-blue;
    }
  }

  .input-wrapper {
    margin: 0 0 10px 0;

    label {
      margin: 0 0 5px 0;
      display: block;

      .required {
        color: $dark-red;
      }
    }

    input {
      font: 400 normal 18px 'Rubik', sans-serif;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      border: none;
      width: 100%;
    }
  }
}