@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import 'variables.css';
@import 'buttons.css';

* { box-sizing: border-box; }

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font: 400 normal 18px 'Rubik', sans-serif;
    background-color: var(--dark-gray);
    color: var(--white);
}

#login-container {
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px;
    width: 100%;
    left: 50%;
    top: 50%;
}

#login-container .title {
    color: var(--light-blue);
    text-align: center;
}

#login-container .title .dark-blue {
    color: var(--dark-blue);
}

#login-container .input-wrapper {
    margin: 0 0 10px 0;
}

#login-container .input-wrapper label {
    margin: 0 0 5px 0;
    display: block;
}

#login-container .input-wrapper label .required {
    color: var(--dark-red);
}

#login-container .input-wrapper input {
    font: 400 normal 18px 'Rubik', sans-serif;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
}